.container {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 400;
    color: #292c32;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
}

.container .header .close-icon-container {
    position: absolute;
    inset-inline-end: 5px;
    top: 4px;
}

.container .body {
    padding: 24px;
}

.container .body .label-language-switch {
    margin: 0 0 8px 0;
    line-height: 1.5em;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 4px;
    user-select: none;
}

.container .footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px 24px 12px 24px;
    border-top: 1px solid #dde2e7;
}

.container .translatedText {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
}

.container .show-alternatives {
    margin-top: 2px;
    text-decoration-line: underline;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.container button {
    position: absolute;
    top: 2px;
    inset-inline-end: 0px;
    background: none;
    border: 0;
    cursor: pointer;
}

.container.dark {
    background-color: #4b535a;
}

.container.dark .translatedText {
    color: #f2f4f7;
}

.container .actions button {
    border-radius: 6px;
    border: 1px solid var(--White, #fff);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 11px 24px;
    cursor: pointer;
}

.container .messages {
    padding: 38px 102px 20px 32px;
}

.container .messages.small {
    padding: 24px 42px 15px 20px;
}

.container .messages h1 {
    margin: 0px;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
}

.container .messages .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.container svg {
    position: absolute;
    top: 16px;
    inset-inline-end: 16px;
    cursor: pointer;
}

.container .actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    padding: 0px 32px 24px 0px;
}

.container .actions.small {
    padding: 0px 32px 15px 0px;
}

.container .body .content {
    display: flex;
    width: 260px;
    padding: 16px 24px 24px 8px;
}

.container .body .content .text-wrapper {
    line-height: 23px;
}

.container .body .content .headline {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.container .body .content .logo {
    width: 84px;
    margin: -16px 16px 0 0;
    height: 42px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container .body::after {
    content: "";
    position: absolute;
    border-width: 12px;
    border-style: solid;
    border-color: #0f2b46 transparent transparent transparent;
}

.container .body__top::after {
    top: 100%;
    inset-inline-end: 13px;
    margin-left: -5px;
}

.container .body__bottom::after {
    bottom: 100%;
    transform: rotate(180deg);
    inset-inline-end: 13px;
    margin-left: -5px;
}

.container .body__right::after {
    top: 50%;
    inset-inline-end: 100%;
    transform: rotate(90deg);
    margin-left: -5px;
}

.container .body__left::after {
    bottom: 13px;
    inset-inline-start: 100%;
    transform: rotate(270deg);
}

.container .body .logo-picture {
    width: 99px;
    background-repeat: no-repeat;
}

.container .body .close-icon {
    position: absolute;
    inset-inline-end: 0;
    margin: 8px 8px 0 0;
    background: transparent;
    background-position: center;
}

.svelte-1i5r4eu {
    margin: 0px;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
}

.svelte-1i5r4eu .messages .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.svelte-1i5r4eu svg {
    position: absolute;
    top: 16px;
    inset-inline-end: 16px;
    cursor: pointer;
}

.svelte-1uko7yn {
    min-height: 250px;
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.svelte-1uko7yn .actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    padding: 0px 32px 24px 0px;
}

.svelte-1uko7yn .actions.small {
    padding: 0px 32px 15px 0px;
}

.svelte-1uko7yn .actions button {
    border-radius: 6px;
    border: 1px solid var(--White, #fff);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 11px 24px;
    cursor: pointer;
}

.svelte-1tmoo4x {
    min-height: 250px;
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.svelte-1tmoo4x .actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    padding: 0px 32px 24px 0px;
}

.svelte-1tmoo4x .actions.small {
    padding: 0px 32px 15px 0px;
}

.svelte-145khfi {
    position: fixed;
    top: 50px;
    inset-inline-start: 0;
    z-index: 10000000000;
    border: 1px solid #dbe0e5;
    border-radius: 4px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1215686275);
    background-color: white;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    max-width: 320px;
}

.svelte-145khfi .onboarding {
    border-bottom: 1px solid #dbe0e5;
    padding: 24px 32px;
    background-repeat: no-repeat;
    background-position: right top;
}

.svelte-145khfi .onboarding .header {
    padding: 8px 80px 32px 0;
}

.svelte-145khfi .onboarding .header p {
    margin: 0;
    padding-bottom: 8px;
}

.svelte-145khfi .onboarding .header .beta-label {
    width: fit-content;
    color: white;
    font-size: 12px;
    line-height: 18px;
    background-color: #007e5e;
    padding: 0 8px;
    border-radius: 4px;
}

.svelte-145khfi .onboarding .ups-list .ups-item {
    background-repeat: no-repeat;
    background-position: left top 5px;
    padding-inline-start: 25px;
    margin-bottom: 8px;
}

.svelte-145khfi .onboarding .ups-list .ups-item:last-child {
    margin-bottom: 0;
}

.svelte-145khfi .turn-on-off-panel {
    padding: 24px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.svelte-145khfi .turn-on-off-panel .switch {
    padding-inline-start: 19px;
    flex-shrink: 0;
}

.svelte-8x6yh8 {
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.svelte-8x6yh8 .backdrop {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: all;
}

.svelte-8x6yh8 .container {
    position: absolute;
    max-width: 100%;
    pointer-events: all;
}

.svelte-8x6yh8 .container.notification {
    width: 100%;
}

.svelte-8x6yh8 .close-button {
    padding: 0;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
    color: #3a424a;
    font-weight: 500;
}

.svelte-8x6yh8 .close-button :global(svg) {
    margin-inline-start: 4px;
}
